source/zb-tibco-sap-ups-soauto/Schemas/commonSchemas/access_token.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="accessToken" type="accessTokenType"/>
<xs:complexType name="accessTokenType">
<xs:all>
	<xs:element type="xs:string" name="access_token" minOccurs="0"/>
	<xs:element type="xs:string" name="token_type" minOccurs="0"/>
	<xs:element type="xs:string" name="expires_in" minOccurs="0"/>
</xs:all>
</xs:complexType>
</xs:schema>
